//Excel
$header-height: 45px;
$toolbar-height: 45px;
$formula-height: 30px;

$border-color: #c0c0c0;
$separator-color: rgba(0, 0, 0, 0.1);

//Cell and row
$info-cell-width: 40px;
$cell-width: 120px;
$row-height: 24px;

////Dashboard
$dashboard-header-height: 64px;